/* Global animations */
@keyframes image-container__waves-crashing {
	0% {
		opacity: 0.4;
		left: -60%;
	}

	50% {
		opacity: 0.7;
		left: 30%;
    transform: rotate(-4.5deg);
	}

  100% {
    opacity: 0.4;
    left: 120%;
  }
}

@keyframes boat-bobbing {
    0% {
      animation-timing-function: ease-in;
      transform: translateY(0);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: translateY(8px);
    }
  
    55% {
      animation-timing-function: ease-out;
      transform: translateY(8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }
  
  @keyframes pollution-pulsing {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
  
    50% {
      transform: scale(1.2);
      opacity: 0.9;
    }
  
    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }
  
  @keyframes image-container__crab-walk {
  
    0%,
    100% {
      transform: translateX(0);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) translateY(20px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(-50px) rotate(6deg);
    }
  
    45% {
      transform: translateX(0px) rotate(-6deg);
    }
  
    60% {
      transform: translateX(30px) rotate(6deg);
    }
  
    75% {
      transform: translateX(50px) rotate(-6deg);
    }
  
    90% {
      transform: translateX(0) translateY(-10px) rotate(4deg);
    }
  }
  
  /* nimations for scene 1 and 2 */
  @keyframes fish-swim {
    0% {
      opacity: 0.3;
      top: 60%;
      left: 60%;
    }
    30% {
      opacity: 0.5;
      top: 43%;
      left: 52%;
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes image-container__splash--scene1 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes image-container__dolphin--scene1 {
    0% {
      top: 40%;
    }
    30% {
      transform: rotate(-20deg);
    }
    40% {
      top: 33%;
      left: 39%;
      transform: rotate(-40deg);
      opacity: 1;
    }
    50% {
      top: 33%;
      transform: rotate(-50deg);
      left: 38.8%;
      opacity: 1;
    }
    100% {
      top: 44%;
      transform: rotate(-60deg);
      left: 38.8%;
      opacity: 0;
    }
  }
  
  @keyframes image-container__brownfish--scene1 {
    0% {
      left: 20%;
    }
    50% {
      left: 25%;
    }
    100% {
      left: 30%;
    }
  }
  
  @keyframes image-container__ship--scene2 {
    0% {
      left: 9%;
    }
    100% {
      left: 39%;
    }
  }
  
  @keyframes image-container__chemspill--scene2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    80% {
      opacity: 1;
      scale: 1.5;
    }
  }
  
  @keyframes image-container__fish1--scene2 {
    0% {
      right: 30%;
      opacity: 1;
    }
    50% {
      right: 25%;
    }
    100% {
      right: 24%;
      opacity: 0;
    }
  }
  
  @keyframes image-container__fish2--scene2 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  
  }
  
  /* Animations for scene 3 and 4 */
  @keyframes scene-3-fish-swim {
    0% {
      transform: translate(-40px, 2px) rotateY(180deg);
    }
  
    50% {
      transform: translate(40px, -2px) rotatey(180deg);
    }
  
    51% {
      transform: rotatey(0);
    }
  
    100% {
      transform: translate(-40px, 2px);
    }
  
  }
  
  @keyframes scene-3-fish-flail {
  
    0%,
    100% {
      transform: translateX(15px) rotate(12deg);
    }
  
    25% {
      transform: translateX(-15px) rotate(-12deg);
    }
  
    50% {
      transform: translateX(10px) rotate(12deg);
    }
  
    75% {
      transform: translateX(-10px) translateY(-30px) rotate(0);
    }
  }
  
  @keyframes scene-4-guy-move {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    30% {
      opacity: 1;
    }
  
    50% {
      transform: translateX(0);
    }
  
    55% {
      transform: rotate(-5deg);
    }
  
    70% {
      transform: rotate(0);
    }
  }
  
  @keyframes scene-4-trash-toss {
    0% {
      transform: translateX(145px) translateY(30px);
    }
  
    52% {
      transform: translateX(145px) translateY(30px);
    }
  
    75% {
      transform: translateX(70px) translateY(-130px) rotate(6turn);
    }
  
    100% {
      transform: translateX(0) translateY(0) rotate(12turn);
    }
  }

  /* Animations for scene 5 and 6 */
  @keyframes scene5-boat {
    0% {
      left: 9%;
    }
    100% {
      left: 50%;
    }
  }

  @keyframes scene5-chemspill {
    0% {
      opacity: 1;
      scale: 1.3;
    }
    60% {
      opacity: 1;
      scale: 1.6;
    }
    100% {
      opacity: 0;
      scale: 1;
    }
  }
  
  /*# sourceMappingURL=style.css.map */