/* Global animations */
@keyframes image-container__waves-crashing {
  0% {
    opacity: 0.4;
    left: -60%;
  }
  50% {
    opacity: 0.7;
    left: 30%;
    transform: rotate(-4.5deg);
  }
  100% {
    opacity: 0.4;
    left: 120%;
  }
}
@keyframes boat-bobbing {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(0);
  }
  45% {
    animation-timing-function: ease-out;
    transform: translateY(8px);
  }
  55% {
    animation-timing-function: ease-out;
    transform: translateY(8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes pollution-pulsing {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
@keyframes image-container__crab-walk {
  0%, 100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) translateY(20px) rotate(-6deg);
  }
  30% {
    transform: translateX(-50px) rotate(6deg);
  }
  45% {
    transform: translateX(0px) rotate(-6deg);
  }
  60% {
    transform: translateX(30px) rotate(6deg);
  }
  75% {
    transform: translateX(50px) rotate(-6deg);
  }
  90% {
    transform: translateX(0) translateY(-10px) rotate(4deg);
  }
}
/* nimations for scene 1 and 2 */
@keyframes fish-swim {
  0% {
    opacity: 0.3;
    top: 60%;
    left: 60%;
  }
  30% {
    opacity: 0.5;
    top: 43%;
    left: 52%;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image-container__splash--scene1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image-container__dolphin--scene1 {
  0% {
    top: 40%;
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    top: 33%;
    left: 39%;
    transform: rotate(-40deg);
  }
  50% {
    top: 33%;
    transform: rotate(-50deg);
    left: 38.8%;
  }
  100% {
    top: 44%;
    transform: rotate(-60deg);
    left: 38.8%;
  }
}
@keyframes image-container__brownfish--scene1 {
  0% {
    left: 20%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 30%;
  }
}
@keyframes image-container__ship--scene2 {
  0% {
    left: 9%;
  }
  100% {
    left: 39%;
  }
}
@keyframes image-container__chemspill--scene2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    scale: 1.5;
  }
}
@keyframes image-container__fish1--scene2 {
  0% {
    right: 30%;
    opacity: 1;
  }
  50% {
    right: 25%;
  }
  100% {
    right: 24%;
    opacity: 0;
  }
}
@keyframes image-container__fish2--scene2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Animations for scene 3 and 4 */
@keyframes scene-3-fish-swim {
  0% {
    transform: translate(-40px, 2px) rotateY(180deg);
  }
  50% {
    transform: translate(40px, -2px) rotatey(180deg);
  }
  51% {
    transform: rotatey(0);
  }
  100% {
    transform: translate(-40px, 2px);
  }
}
@keyframes scene-3-fish-flail {
  0%, 100% {
    transform: translateX(15px) rotate(12deg);
  }
  25% {
    transform: translateX(-15px) rotate(-12deg);
  }
  50% {
    transform: translateX(10px) rotate(12deg);
  }
  75% {
    transform: translateX(-10px) translateY(-30px) rotate(0);
  }
}
@keyframes scene-4-guy-move {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  55% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0);
  }
}
@keyframes scene-4-trash-toss {
  0% {
    transform: translateX(145px) translateY(30px);
  }
  52% {
    transform: translateX(145px) translateY(30px);
  }
  75% {
    transform: translateX(70px) translateY(-130px) rotate(6turn);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(12turn);
  }
}
/* Animations for scene 5 and 6 */
@keyframes scene5-boat {
  0% {
    left: 9%;
  }
  100% {
    left: 50%;
  }
}
@keyframes scene5-chemspill {
  0% {
    opacity: 1;
    scale: 1.3;
  }
  60% {
    opacity: 1;
    scale: 1.6;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}


/*media quieries*/
/*for screen orientation */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  body {
    overflow: hidden;
  }
  #flip-phone-message {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    z-index: 9999;
  }
}


/* Define styles for landscape mode */
@media only screen and (orientation: landscape) {
  body {
    overflow: auto;
  }
  #flip-phone-message {
    visibility: hidden !important;
  }
}


/*For reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
  }
}



/*for color scheme */
/* Dark mode style */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  h1 {
    text-shadow: none;
  }
}

/* Global */
body {
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

/* main__goal section */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.section__image-container {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: rgb(138, 186, 200);
  background: linear-gradient(180deg, rgb(138, 186, 200) 0%, rgb(138, 186, 200) 37%, rgb(50, 189, 169) 37%, rgb(111, 195, 155) 62%, rgb(226, 207, 128) 74%);
}

p {
  position: absolute;
  top: 4%;
  left: 80%;
  width: 200px;
  opacity: 0;
  scale: 0.95;
  color: white;
  text-shadow: 2px 2px 1px black;
  z-index: 3;
  transition: opacity 2s, scale 2s, top 2s, background-color 2s ease-in-out;
}

.visible p {
  opacity: 1;
  scale: 1;
  top: 5%;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 8px;
}

h1 {
  margin-top: 10em;
  text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white, 0 0 20px white;
  scale: 0.95;
  opacity: 0;
  transition: opacity 2s, scale 2s, margin-top 2s ease-in-out;
}

.visible h1 {
  opacity: 1;
  scale: 1;
  margin-top: 5em;
}

img {
  position: absolute;
  height: auto;
  z-index: 1;
}

.image-container__crab {
  width: 50px;
  top: 87%;
  left: 85%;
  animation: image-container__crab-walk 5s linear 0s infinite normal none;
  z-index: 1;
}

.image-container__waves {
  position: absolute;
  top: 37%;
  left: 0;
  opacity: 0.7;
  animation: image-container__waves-crashing 12s linear 0s infinite normal forwards;
}

/* Scene 1 */
.visible .image-container__fish--scene1 img {
  position: absolute;
  width: 140px;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fish-swim;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  z-index: 2;
}

.visible .image-container__splash--scene1 img {
  position: absolute;
  top: 51%;
  left: 58%;
  width: 80px;
  height: auto;
  animation: image-container__splash--scene1 3s ease-out;
}

.visible .image-container__dolphin--scene1 img {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 40px;
  height: auto;
  animation: image-container__dolphin--scene1 7s ease;
}

.visible .image-container__brownfish--scene1 img {
  position: absolute;
  bottom: 40%;
  left: 30%;
  width: 150px;
  height: auto;
  animation: image-container__brownfish--scene1 10s ease;
}

.image-container__fish--scene1-swimmer {
  position: absolute;
}

.image-container__bluefish--scene1 img {
  position: absolute;
  width: 80px;
  top: 42%;
  left: 11%;
}

/* Scene 2 */
.visible .image-container__ship--scene2 img {
  position: absolute;
  height: 80px;
  top: 30%;
  left: 39%;
  z-index: 2;
  animation: image-container__ship--scene2 5s linear;
}

.visible .image-container__chemspill--scene2 img {
  position: absolute;
  top: 44%;
  left: 36%;
  width: 150px;
  height: auto;
  scale: 1.5;
  transform: rotate(180deg);
  animation: image-container__chemspill--scene2 10s ease;
}

.visible .image-container__bigfishdead--scene2 img {
  position: absolute;
  top: 50%;
  width: 120px;
  height: auto;
  animation: boat-bobbing 6s ease 0s infinite normal none;
}

.visible .image-container__bluefishdead--scene2 img {
  position: absolute;
  left: 25%;
  top: 40%;
  width: 150px;
  height: auto;
  animation: boat-bobbing 5s ease 0s infinite normal none;
}

.visible .image-container__fish1--scene2 img {
  position: absolute;
  top: 55%;
  right: 24%;
  opacity: 0;
  width: 100px;
  height: auto;
  animation: image-container__fish1--scene2 10s ease;
}

.visible .image-container__fish2--scene2 img {
  position: absolute;
  top: 45%;
  left: 60%;
  height: auto;
  width: 100px;
  opacity: 0;
  transform: scaleX(-1);
  animation: image-container__fish2--scene2 3s ease;
}

/* Scene 3 & 4 */
.image-container__image-container__boat--scene3:nth-child(1) {
  width: 300px;
  bottom: 56%;
  left: 45%;
  animation: boat-bobbing 3s ease 0s infinite normal none;
  z-index: 2;
}

.image-container__image-container__boat--scene3:nth-child(2) {
  width: 150px;
  top: 34%;
  left: 20%;
  animation: boat-bobbing 4s ease 0s infinite normal none;
  z-index: 2;
}

.image-container__image-container__pollution--scene34 {
  animation: pollution-pulsing 5s ease-in-out 0s infinite normal none;
  z-index: 0;
}

.image-container__image-container__pollution--scene34:nth-child(1) {
  width: 150px;
  top: 42%;
  left: 13%;
}

.image-container__image-container__pollution--scene34:nth-child(2) {
  width: 200px;
  top: 44%;
  left: 30%;
  transform: rotate(180deg);
  animation-duration: 4.6s;
}

.image-container__image-container__trash--scene34:nth-child(1) {
  width: 130px;
  top: 90%;
  left: 87%;
}

.image-container__image-container__trash--scene34:nth-child(2) {
  width: 40px;
  top: 80%;
  left: 25%;
}

.image-container__fish--image-container__scene34:nth-child(1) {
  width: 130px;
  height: auto;
  top: 49%;
  left: 70%;
  animation: scene-3-fish-swim 3s ease-in-out 0s infinite normal none;
}

.image-container__fish--image-container__scene34:nth-child(2) {
  width: 110px;
  top: 50%;
  left: 23%;
  animation: boat-bobbing 6s ease 0s infinite normal none;
}

.image-container__fish--image-container__scene34:nth-child(3) {
  width: 90px;
  top: 80%;
  left: 45%;
  animation: scene-3-fish-flail 2s ease-in-out 0s infinite normal none;
}

/* Scene 4 */
.image-container__boat--scene4 {
  width: 150px;
  top: 34%;
  left: 85%;
  animation: boat-bobbing 4s ease 0s infinite normal none;
  z-index: 2;
}

.visible .scene4-guy {
  width: 180px;
  top: 60%;
  left: 12%;
  animation: scene-4-guy-move 6s ease-in-out 0s 1 normal none;
}

.visible .scene4 .image-container__image-container__trash--scene34:nth-child(2) {
  top: 70%;
  left: 14%;
  animation: scene-4-trash-toss 6s linear 0s 1 normal none;
}

/* Scenes 5 and 6 */
.scene5-bag img {
  position: absolute;
  width: 100px;
  height: auto;
  top: 97%;
  left: 57%;
  transform: translate(-50%, -50%);
}

.visible .scene5-boat img {
  position: absolute;
  width: 300px;
  height: auto;
  top: 40%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: scene5-boat 6s linear;
}

.scene5-cup img {
  position: absolute;
  width: 40px;
  height: auto;
  top: 95%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.scene5-fish img {
  position: absolute;
  width: 100px;
  height: auto;
  top: 60%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.visible .scene5-green-puddle img {
  position: absolute;
  width: 150px;
  height: auto;
  top: 55%;
  left: 57%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: scene5-chemspill 12s ease;
}

.scene5-man img {
  position: absolute;
  width: 120px;
  height: auto;
  top: 80%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.scene5-woman img {
  position: absolute;
  width: 100px;
  height: auto;
  top: 87%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.visible .scene6-blue-fish img {
  position: absolute;
  width: 70px;
  height: auto;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  animation-name: fish-swim;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}

.visible .scene6-image-container__crab img {
  position: absolute;
  width: 100px;
  height: auto;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  animation-name: fish-swim;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}

.visible .scene6-orange-fish img {
  position: absolute;
  width: 100px;
  height: auto;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  animation-name: fish-swim;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}/*# sourceMappingURL=index.css.map */