.scene6-crab img {
    position: absolute;
    width: 100px;
    height:auto;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    animation-name: fish-swim;
    animation-duration: 10s;
    animation-timing-function: ease-in;
  }