.scene6-blue-fish img {
    position: absolute;
    width: 70px;
    height:auto;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    animation-name: fish-swim;
    animation-duration: 10s;
    animation-timing-function: ease-in;
  }