@import "variables.scss";

/* Global styles */
body {
  margin: 0 auto;
}

/* Goal section styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

section {
  height: 100vh;
  position: relative;
}


.image-container {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}



img {
  height: 100vh;
  width: auto;
}

.scene1-fish img {
  position: absolute;
  width: 140px;
  height:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fish-swim;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}


@keyframes fish-swim {
  0% {
    bottom:20px
  }
  50% {
   bottom:40px;
  }
  100% {
    bottom:50px;
  }
}

@import "scene6-crab.scss";

@import "scene6-blue-fish.scss";

@import "scene6-orange-fish.scss";

@import "scene6.scss";

@import "animation-scene6.scss";

@import "scene5-bag.scss";

@import "scene5-boat.scss";

@import "scene5-crab.scss";

@import "scene5-cup.scss";

@import "scene5-fish.scss";

@import "scene5-green-puddle.scss";

@import "scene5-man.scss";

@import "scene5-woman.scss";

@import "scene5.scss";

@import "animation-scene5.scss";
