@import "variables.scss";

/* Global styles */
body {
  margin: 0 auto;
}

/* Goal section styles */
.goal {
  background: rgb(4,173,217);
  background: linear-gradient(180deg, rgba(4,173,217,1) 23%, rgba(38,63,120,1) 72%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.goal__introduction,
.goal__current-situation,
.goal__future-consequences {
  flex: 1;
  margin: 0 auto;
}

.goal__introduction {
}

.goal__current-situation {
}

.goal__future-consequences {
  
}






